{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="mx-auto col-6">

        <h1>Créer votre compte</h1>
        {% if not errorForm is empty %}
            <div class="alert alert-danger">{{ errorForm }}</div>
        {% endif %}
        {% if not sucessForm is empty %}
            <div class="alert alert-success">{{ sucessForm }}</div>
        {% endif %}
        {% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}
        {{ form_start(registrationForm) }}
        <input type="hidden" id="googleToken" name="googleToken">
            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}
            {{ form_row(registrationForm.confirmPassword) }}
            <button class="btn btn-dark d-none" id="submitForm" type="submit" disabled>Crée mon compte</button>
            <button class="btn btn-dark" id="checkRobot">Crée mon compte</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
